[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = ">=1.0.0"
beautifulsoup4 = "*"
aspell-python-py3 = "*"
matplotlib = "==2.1.1"
numpy = ">=1.13.3"
pandas = ">=0.21.0"
scipy = "*"
dask = "*"
graphviz = "*"
Pympler = "==0.5"
Pillow = "*"
Flask = "*"
html5lib = "*"
tabulate = "*"

[requires]
python_version = "3.9"
